<!-- エラーメッセージがなんか入ってたら出力-->
<% if flash[:danger] %>
  <div class="flash">
    <%= flash[:danger] %>
  </div>
<% end %>

<% if flash[:error_messages]  %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg|  %>
        <li><%= msg %></li>
      <% end %>
    <ul>
  </div>
<% end %>